<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Conectamos</h1>
            <h3 class="mb-5">
                <em>Acercamos tu negocio a las personas</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/anuncios">
                Ver Anuncios 
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>